@model Presupuesto

<div class="text-center">
    <h1> CREAR PRESUPUESTO</h1>

    <form asp-controller="Presupuesto" asp-action="CrearPresupuesto" method="post">
        <div class="form-group">
            <label for="destinatario">Nombre destinatario</label>
            <input asp-for="NombreDestinatario" type="text" class="form-control" id="destinatario">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>

     @if (ViewBag.Creado == true)
    {
        <div class="alert alert-success mt-3">
            Presupuesto creado exitosamente.
        </div>
    }

</div>