@model Producto

<div class="text-center">
    <h1>MODIFICAR PRODUCTO</h1>

    <form asp-controller="Producto" asp-action="ModificarProducto" method="post">
        <div class="form-group">
            <input type="hidden" name="IdProducto" value="@ViewBag.IdProducto"/>
            <label asp-for="Descripcion">Descripción</label>
            <input asp-for="Descripcion" type="text" class="form-control">
            <label asp-for="Precio">Precio</label>
            <input asp-for="Precio" type="number" class="form-control">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    @if (ViewBag.Modificado == true)
    {
        <div class="alert alert-success mt-3">
            Producto modificado exitosamente.
        </div>
    }

</div>